//variables
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);
$white:#fff;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 13px;
    color: $desaturated-dark-blue;
    background-color: $light-grayish-blue;
}

#wrapper {
    display: flex;
    flex-direction: column;
    padding: 6em 2em;

    .left-col {
        width: 100%;
        height: 215px;
        overflow: hidden;
        border-radius: 12px 12px 0 0;

        img {
            max-width: 100%;
        }
    }

    .right-col {
        border-radius: 0px 0px 12px 12px;
        background-color: $white;
        box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.09);
        position: relative;

        .content {
            padding: 3em 2.5em 0;

            h1 {
                color: $very-dark-grayish-blue;
                font-size: 16px;

                line-height: 1.6em;
            }

            p {
                line-height: 1.6em;
                margin: 1em 0 1.5em 0;
            }
        }


        .share {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0em 2.5em 1.5em;

            img.avatar {
                width: 40px;
                border-radius: 50%;
            }

            .about {
                margin-left: -35px;

                span.name {
                    font-weight: 700;
                    color: $very-dark-grayish-blue;
                    display: block;
                    margin-bottom: 3px;
                }

                span.date {
                    color: $grayish-blue;
                }
            }

            .icon {
                width: 30px;
                height: 30px;
                background-color: $light-grayish-blue;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .share-box {
            background-color: $very-dark-grayish-blue;
            color: $grayish-blue;
            border-radius: 0px 0px 12px 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.2em 2.5em 1.2em;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            visibility: hidden;
            display: none;

            span {
                text-transform: uppercase;
                letter-spacing: 5px;
            }

            .icon {
                width: 30px;
                height: 30px;
                background-color: $desaturated-dark-blue;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 50px;

                img {
                    filter: invert(0) brightness(2);

                }
            }
        }

        .share-box.open {
            visibility: visible;
            display: flex;
        }
    }
}